@use "sass:map";
@use "base/variables";
@use "mixins/borders";
@use "mixins/motion";

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;

  .dropdown__menu {
    @include borders.border;
    @include motion.transition(scale, opacity, box-shadow, transform);

    position: absolute;
    z-index: variables.$zindex-dropdown;
    border-radius: variables.$border-radius;
    padding: variables.$dropdown-menu-padding;
    background-color: rgba(variables.$white, variables.$dropdown-menu-shade-percentage);
    opacity: 0;
    transform-origin: top left;
    pointer-events: none;
    backdrop-filter: blur(variables.$dropdown-menu-blur);
    scale: variables.$component-active-scale;

    .dropdown__menu__item {
      display: flex;
      align-items: center;
      border-radius: variables.$border-radius;
      padding: variables.$dropdown-menu-item-padding;
      gap: variables.$dropdown-menu-item-gap;

      .icon {
        color: variables.$muted;
      }
    }

    .dropdown__menu__divider {
      content: "";
      border-bottom: variables.$border-width solid variables.$border-color;
      margin-block: map.get(variables.$spacers, 1);
      margin-inline: -#{variables.$dropdown-menu-padding};
    }

    .dropdown__menu__action {
      @include motion.transition(background-color, scale, opacity, outline-width);

      color: inherit;
      user-select: none;

      &:hover,
      &:focus-visible {
        background-color: rgba(variables.$light, variables.$dropdown-menu-shade-percentage);
      }

      &:active {
        opacity: variables.$component-active-opacity;
        scale: variables.$component-active-scale;
      }

      &.active {
        font-weight: map.get(variables.$font-weights, medium);

        .icon {
          color: variables.$black;
        }
      }
    }

    &.show {
      box-shadow: variables.$box-shadow-lg;
      opacity: 1;
      pointer-events: auto;
      scale: 1;
    }
  }
}
