@use "sass:map";
@use "base/variables";
@use "mixins/buttons";
@use "mixins/motion";

.btn {
  @include buttons.button-variant(variables.$white, variables.$muted);
  @include motion.transition(xs, box-shadow, background-color, scale, outline-width);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: variables.$border-radius;
  padding: map.get(variables.$spacers, 2) map.get(variables.$spacers, 4);
  font-weight: map.get(variables.$font-weights, medium);
  line-height: variables.$line-height-lg;
  gap: map.get(variables.$spacers, 1);

  &:active {
    scale: variables.$component-active-scale;
  }

  &:disabled {
    opacity: variables.$component-disabled-opacity;
    pointer-events: none;
  }
}

.btn--icon {
  padding-inline: map-get(variables.$spacers, 2) * variables.$line-height-base;
}

@each $color, $value in variables.$theme-colors {
  .btn--#{$color} {
    @include buttons.button-variant($value);
  }
}
