@use "sass:map";
@use "base/variables";
@use "mixins/motion";

.card {
  border-radius: variables.$border-radius-lg;
  width: 100%;
  box-shadow: variables.$box-shadow;
  background-color: variables.$white;

  // ! Remake this.
  *:last-child, {
    margin-bottom: 0;
  }
}

.card__title {
  font-weight: map.get(variables.$font-weights, bold);
  font-size: map.get(variables.$font-sizes, 3);
}

.card__header,
.card__body,
.card__footer {
  padding: map.get(variables.$spacers, 4) map.get(variables.$spacers, 4);
}
