@use "sass:map";
@use "base/variables";
@use "mixins/borders";
@use "mixins/motion";

.dropdown {
  position: relative;
  width: fit-content;

  &__menu {
    @include borders.border;
    @include motion.glassmorphism(variables.$white);
    @include motion.transition(sm, scale, opacity, box-shadow);

    position: absolute;
    z-index: variables.$zindex-dropdown;
    border-radius: variables.$border-radius;
    padding: variables.$dropdown-menu-padding 0;
    width: max-content;
    opacity: 0;
    scale: 0;

    &__item {
      display: flex;
      align-items: center;
      border-radius: variables.$border-radius;
      padding: variables.$dropdown-menu-item-padding;
      gap: variables.$dropdown-menu-item-gap;
      margin-inline: variables.$dropdown-menu-padding;

      .icon {
        color: variables.$muted;
      }
    }

    &__action {
      @include motion.transition(xs, background-color, scale, opacity, outline-offset);

      color: inherit;
      user-select: none;

      // &:not(.active) {
      &:hover,
      &:focus-visible {
        background-color: rgba(variables.$light, variables.$glassmorphism-shade-percentage);
      }

      &:active {
        opacity: variables.$component-active-opacity;
        scale: variables.$component-active-scale;
      }

      // }

      &.active {
        font-weight: map.get(variables.$font-weights, medium);

        .icon {
          color: variables.$black;
        }
      }
    }

    &.show {
      box-shadow: variables.$box-shadow-lg;
      opacity: 1;
      transition-duration: map.get(variables.$durations, md);
      scale: 1;
    }
  }
}
