@use "sass:map";
@use "base/variables";
@use "mixins/borders";
@use "mixins/motion";

.dropdown {
  position: relative;
  width: fit-content;

  &__menu {
    @include borders.border;
    @include motion.glassmorphism(variables.$white);
    @include motion.transition(sm, scale, opacity, box-shadow, transform);

    @media screen and (width <= map.get(variables.$grid-breakpoints, md)) {
      $margin: map.get(variables.$spacers, 2);

      position: fixed !important; // TODO: use absolute here
      overflow-y: scroll;
      width: auto;
      max-height: 75vh;
      transform: translateY(calc(100% + $margin)) !important;
      transform-origin: bottom;
      transition-duration: 500ms;
      inset: auto $margin $margin !important;
      scale: 1;

      &.show {
        transform: none !important;
        transition-duration: 500ms;
      }
    }

    position: absolute;
    z-index: variables.$zindex-dropdown;
    border-radius: variables.$border-radius;
    padding: variables.$dropdown-menu-padding 0;
    width: max-content;
    opacity: 0;
    transform-origin: top;
    pointer-events: none;
    scale: variables.$component-active-scale;

    &__item {
      display: flex;
      align-items: center;
      border-radius: variables.$border-radius;
      padding: variables.$dropdown-menu-item-padding;
      gap: variables.$dropdown-menu-item-gap;
      margin-inline: variables.$dropdown-menu-padding;

      .icon {
        color: variables.$muted;
      }
    }

    &__action {
      @include motion.transition(xs, background-color, scale, opacity, outline-width);

      color: inherit;
      user-select: none;

      &:hover {
        background-color: rgba(variables.$light, variables.$glassmorphism-shade-percentage);
      }

      &:active {
        opacity: variables.$component-active-opacity;
        scale: variables.$component-active-scale;
      }

      &.active {
        font-weight: map.get(variables.$font-weights, medium);

        .icon {
          color: variables.$black;
        }
      }
    }

    &.show {
      box-shadow: variables.$box-shadow-lg;
      opacity: 1;
      transition-duration: map.get(variables.$durations, md);
      pointer-events: auto;
      scale: 1;
    }
  }
}
