@use "sass:map";
@use "base/variables";
@use "mixins/motion";
@use "layout/grid";

.navbar {
  @extend .row;

  align-items: center;
  padding: map.get(variables.$spacers, 2) 0;

  &__logo {
    @include motion.transition(xs, opacity);

    justify-self: start;

    img {
      height: variables.$navbar-logo-height;
    }

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__nav {
    justify-self: end;
    gap: map.get(variables.$spacers, 2);
  }

  &__searchbar {
    grid-column: span 6;
  }

  &__logo,
  &__nav {
    display: inline-flex;
    grid-column: span 3;
  }
}
