@use "sass:map";
@use "base/variables" as *;
@use "mixins/motion";

.card {
  border-radius: $border-radius-lg;
  width: 100%;
  box-shadow: $box-shadow;
  background-color: $white;

  // ! Remake this.
  *:last-child, {
    margin-bottom: 0;
  }
}

.card__title {
  font-weight: map.get($font-weights, bold);
  font-size: map.get($font-sizes, 3);
}

.card__header,
.card__body,
.card__footer {
  padding: map.get($spacers, 3) map.get($spacers, 4);
}
