@use "sass:map";
@use "base/variables" as *;

.card {
  border-radius: $border-radius-lg;
  width: 100%;
  box-shadow: $box-shadow;
  background-color: $white;

  *:last-child, {
    margin-bottom: 0;
  }
}

.card__title {
  font-weight: map.get($font-weights, bold);
  font-size: map.get($font-sizes, 3);
}

.card__image {
  width: 100%;
}

// TODO: add card image link wrapper
.card__image__link {
  display: block;
  line-height: 0;
}

.card__header,
.card__body,
.card__footer {
  padding: map.get($spacers, 3) map.get($spacers, 4);
}
