@use "sass:map";
@use "base/variables";
@use "mixins/motion";

header {
  border-bottom-right-radius: variables.$border-radius-lg;
  border-bottom-left-radius: variables.$border-radius-lg;
  padding: map.get(variables.$spacers, 2) 0;
  box-shadow: variables.$box-shadow;
  background: variables.$white;
}

.right {
  display: flex;
  justify-content: end;
  padding-right: 22px;
  gap: map.get(variables.$spacers, 2);
}

.logo {
  @include motion.transition(sm, filter);

  &:hover {
    filter: brightness(75%);
  }

  &:active {
    filter: brightness(50%);
  }
}
