@use "sass:map";
@use "base/variables";

@mixin transition($duration-key: sm, $properties...) {
  transition-property: $properties;
  transition-duration: map.get(variables.$durations, $duration-key);
  transition-timing-function: variables.$timing-function;
}

@mixin glassmorphism($color) {
  background: rgba($color, variables.$glassmorphism-shade-percentage);
  backdrop-filter: blur(variables.$glassmorphism-blur) saturate(variables.$glassmorphism-saturate);
}
