@use "base/variables" as *;

.hr-text {
  display: flex;
  align-items: center;
  height: 1px;
  font-weight: 600;
  font-size: $font-size-sm;
  line-height: 1rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $muted;
  margin-block: map-get($spacers, 3);
}

.hr-text::after,
.hr-text::before {
  flex: 1 1 auto;
  height: 1px;
  background-color: rgba($muted, 25%);
}

.hr-text::before {
  content: "";
  margin-right: 0.5rem;
}

.hr-text::after {
  content: "";
  margin-left: 0.5rem;
}
