@use "sass:map";
@use "base/variables";
@use "mixins/motion";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus-visible {
    outline: 2px solid rgba(variables.$primary, map.get(variables.$percentages, 4));
    outline-offset: 1px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
  background: variables.$light;
  padding-inline: 15px;

  @media screen and (width <= #{map.get(variables.$grid-breakpoints, md)}) {
    &::before {
      @include motion.transition(lg, opacity, backdrop-filter);

      content: "";
      position: fixed;
      z-index: -1;
      opacity: 0;
      inset: 0;
    }

    &.overlay {
      overflow: hidden;
      pointer-events: none;

      &::before {
        @include motion.glassmorphism(variables.$dark);

        z-index: 1;
        opacity: 1;
      }
    }
  }
}

main {
  flex: 1;
  width: 100%;
  max-width: 1440px;
  padding-block: map.get(variables.$spacers, 4);
}

hr {
  border: none;
  border-top: variables.$border-width solid variables.$border-color;
  margin-block: map.get(variables.$spacers, 1);
}

@each $size, $value in variables.$font-sizes {
  h#{$size} {
    margin-bottom: map.get(variables.$spacers, 2);
    font-size: $value;
  }
}

p {
  margin-bottom: map.get(variables.$spacers, 3);
}

small {
  font-size: variables.$font-size-sm;
  color: variables.$muted;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: map.get(variables.$spacers, 3);
  font: inherit;
}

a {
  @include motion.transition(sm, color, opacity, outline-width);

  border-radius: variables.$border-radius-sm;
  text-decoration: none;
  color: variables.$primary;
  opacity: 1;

  &:hover,
  &:focus-visible {
    color: rgba(variables.$primary, map.get(variables.$percentages, 4));
  }

  &:active {
    color: rgba(variables.$primary, map.get(variables.$percentages, 3));
  }
}

img {
  width: 100%;
}

button {
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  user-select: none;
}

input,
textarea {
  border: none;
  font: inherit;
  user-select: none;

  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}
