@use "sass:map";
@use "base/variables";
@use "mixins/motion";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus-visible {
    outline: 2px solid rgba(variables.$primary, map.get(variables.$percentages, 4));
    outline-offset: 1px;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
  background-color: variables.$light;
  padding-inline: map.get(variables.$spacers, 4);

  @media screen and (width <= #{map.get(variables.$grid-breakpoints, md)}) {
    &::before {
      @include motion.transition(opacity, backdrop-filter);

      content: "";
      position: fixed;
      opacity: 0;
      transition-duration: 500ms;
      inset: 0;
    }

    &.overlay {
      overflow: hidden;
      pointer-events: none;

      &::before {
        @include motion.glassmorphism(variables.$dark);

        z-index: 1;
        opacity: 1;
      }
    }
  }
}

main {
  flex: 1;
  width: 100%;
  max-width: 1440px;
  padding-block: map.get(variables.$spacers, 4);
}

hr {
  border: none;
}

p {
  margin-bottom: map.get(variables.$spacers, 3);
}

a {
  @include motion.transition(color, opacity, outline-width);

  border-radius: variables.$border-radius-sm;
  text-decoration: none;
  color: variables.$primary;
  opacity: 1;

  &:hover,
  &:focus-visible {
    color: rgba(variables.$primary, map.get(variables.$percentages, 4));
  }

  &:active {
    color: rgba(variables.$primary, map.get(variables.$percentages, 3));
  }
}

img {
  width: 100%;
}

button {
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  user-select: none;
}

input,
textarea {
  border: none;
  font: inherit;
  user-select: none;

  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

@each $size, $value in variables.$font-sizes {
  h#{$size} {
    margin-bottom: map.get(variables.$spacers, 2);
    font-size: $value;
  }
}
