/// Variables
///
/// All the variables must follow the `$component-state-property-size` formula for
/// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@use "sass:color";
@use "sass:map";

@import "https://fonts.cdnfonts.com/css/sf-pro-display";
@import "https://fonts.cdnfonts.com/css/sf-mono";

/// Typography
///
/// These include font families, weights, sizes, and line heights.

$font-family-sans-serif: "SF Pro Display" !default;
$font-family-monospace: "SF Mono" !default;
$font-family-icons: "tabler-icons" !default;

$font-weights: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
) !default;

$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-sizes: (
  1: $font-size-base * 1.625,
  2: $font-size-base * 1.5,
  3: $font-size-base * 1.375,
  4: $font-size-base * 1.25,
  5: $font-size-base * 1.125,
  6: $font-size-base,
) !default;

$line-height-base: 1.25 !default;
$line-height-lg: 1.5 !default;

/// Spacing
///
/// Control the default styling of most components by modifying these variables.
/// The `$spacers` map must be used to create spacing for all the components.

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

/// Paragraphs

$paragraph-margin-bottom: 1rem !default;

/// Grids

$grid-columns: 12;
$grid-gutter: 30px;

/// Grid breakpoints
///
/// Define the minimum dimensions at which your layout will change,
/// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

/// Z-index master list
///
/// Warning: Avoid customizing these values. They're used for a bird's eye view
/// of components dependent on the z-axis and are designed to all work together.

$zindex-behind: -2 !default;
$zindex-below: -1 !default;
$zindex-base: 1 !default;
$zindex-backdrop: 2 !default;
$zindex-dropdown: 3 !default;
$zindex-sticky: 4 !default;
$zindex-fixed: 5 !default;
$zindex-modal: 6 !default;
$zindex-tooltip: 7 !default;
$zindex-overlap: 8 !default;

/// Percentages
///
/// Must be used to shade colors and control the state of most components.

$contrast-percentage: 55% !default;

$percentages: (
  1: 10%,
  2: 25%,
  3: 50%,
  4: 75%,
  5: 95%,
) !default;

/// Color system
///
/// Theming, organizing and categorizing colors.

$light: #f0f2f5 !default;
$dark: #202333 !default;
$muted: #909199 !default;
$primary: #067aff !default; // TODO: rename to blue in future.
$red: #ef4444 !default;
$yellow: #eab308 !default;
$lime: #84cc16 !default;
$green: #22c55e !default;
$purple: #a855f7 !default;
$pink: #ec4899 !default;
$sky: #0ea5e9 !default;
$white: #fff !default;
$black: #000 !default;

$theme-colors: (
  dark: $dark,
  light: $light,
  primary: $primary,
) !default;

/// Borders

$border-width: 1px !default;
$border-color: rgba($muted, map.get($percentages, 2)) !default;

$border-radius: map.get($spacers, 2) !default;
$border-radius-sm: map.get($spacers, 1) !default;
$border-radius-lg: map.get($spacers, 3) !default;

/// Motion variables
///
/// Includes everything that affects performance.

$box-shadow: 0 2px 4px 0 rgba($dark, 2%), 0 1px 1px 0 rgba($dark, 4%) !default;
$box-shadow-lg: 0 2px 8px rgba($dark, 4%), 0 30px 70px rgba($dark, 8%) !default;

$durations: (
  xs: 100ms,
  sm: 150ms,
  md: 250ms,
  lg: 500ms,
  xl: 750ms,
) !default;

$timing-function: cubic-bezier(0.4, 0, 0, 1) !default;

$glassmorphism-shade-percentage: 75% !default;
$glassmorphism-blur: 10px !default;
$glassmorphism-saturate: 180% !default;

/// Components
///
/// Abstract variables for all the components.

$component-active-scale: map.get($percentages, 5) !default;
$component-active-opacity: map.get($percentages, 3) !default;
$component-disabled-opacity: map.get($percentages, 4) !default;

/// Icons

$icon-size: $font-size-lg !default;

/// Dropdown

$dropdown-menu-padding: map.get($spacers, 1) !default;
$dropdown-menu-item-padding: map.get($spacers, 2) !default;
$dropdown-menu-item-gap: calc($dropdown-menu-padding + $dropdown-menu-item-padding) !default;
