@use "base/variables" as *;
@use "mixins/motion";

.form-control {
  @include motion.transition(sm, color, background-color, box-shadow);

  display: flex;
  border-radius: $border-radius;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  width: 100%;
  line-height: $line-height-lg;
  color: $dark;
  background-color: $light;

  &::placeholder {
    color: $muted;
  }

  &:not(:placeholder-shown) {
    box-shadow: inset 0 0 0 1px rgba($muted, 25%);
    background-color: $white;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px rgba($primary, 75%);
    background-color: $white;
  }

  &:hover:not(:focus) {
    box-shadow: inset 0 0 0 1px rgba($muted, 25%);
  }

  &:hover:not(:focus, :placeholder-shown) {
    box-shadow: inset 0 0 0 1px rgba($muted, 50%);
  }
}
